{{template "base" .}}

{{define "content"}}

    <div class="container-fluid">

        <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-5">Search for Availability</h1>

                <br>

                <form action="/search-availability" method="post" class="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-row" id="reservation-dates">
                            <div class="col">
                                <input required type="text" class="form-control" id="start_date" name="start_date" aria-describedby="startDateHelp" placeholder="Arrival date" style="max-width: 80%;">
                            </div>

                            <div class="col">
                                <input required type="text" class="form-control" id="end_date" name="end_date" aria-describedby="endDateHelp" placeholder="Departure date" style="max-width: 80%;">
                            </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <button type="submit" class="btn btn-primary">search Availability</button>
                </form>

            </div>
        </div>

        <!-- <div class="row">
            <div class="col">
                <p id="myParagraph">This is some text.</p>
                <p>
                <button id="colorButton" class="btn btn-outline-secondary">Click me</button>
                </p>
            </div>
        </div> -->

    </div>

{{end}}

{{define "js"}}
    <script>
        const elem = document.getElementById('reservation-dates');
        const rangepicker = new DateRangePicker(elem, {
        format: "yyyy-mm-dd",
        });
    </script>
{{end}}